body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  background-color: aquamarine;
  font-size: 16px;
}

/* CSS for Edit button */
.btn-primary {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 5px;
  height: 15px;
  padding: 5px 10px;
  background-color: #00ffd5;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

/* CSS for Delete button */
.delete-button {
  margin-left: 5px;
  height: 10px;
  padding: 5px 10px;
  background-color: #bc1818;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

/* CSS for Add button */
.add-button {
  margin-left: 5px;
  height: 10px;
  padding: 5px 10px;
  background-color: #15d853;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* daily checkin */
.daily_main {
  display: flex;
  flex-direction: column;
}

.daily_container {
  display: flex;
}

.daily_flex-item {
  padding: 5px;
  margin: 50px;
  border-style: solid;
  border-color: #000;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.daily_flex-item p {
  color: black;
  text-align: center;
}

.daily_flex-item a {
  display: flex;
  justify-content: center;
  color: black;
}

.home-image {
  display: flex;
  max-width: 180px;
  max-height: 180px;
  width: 100%;
  height: auto;
  align-items: center;
  align-self: flex-end;
}


.daily_flex-item em {
  color: black;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

/* nav bar  */
nav {
  display: flex;
  height: 50px;
  border-bottom: 1px solid black;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  padding: 0 1rem;
  margin-right: 20px;
}

nav a {
  color: black;
  text-decoration: none;
  display: flex;
  font-size: 22px;
  padding: 15px;
}

nav a:hover {
  background-color: black;
  color: #00ffd5;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: color 0.5s ease-out, 0.35s ease-out;
}

/* CSS for container of profile picture, profile name, and bio */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid #000;
  padding: 10px;
}

/* CSS for main content container */
.content-container {
  max-width: 5000px; /* Set max width of content container */
  padding: 10px; /* Add padding to content container */
}

/* CSS for personal info, manage goals, and manage recipes titles above boxes */
.profile-box-titles {
  padding: 20px;
  margin: 0 auto; /* Add this line to center the element */
  max-width: fit-content; /* Add this line to make the width fit the content */
}

/* CSS for circular profile picture container */
.profile-picture-box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}


/* CSS for profile picture */
.profile-image {
  max-width: 160px;
  max-height: 160px;
}

/* CSS for profile name and bio */
.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.profile-bio {
  font-size: 14px;
  margin-top: 5px;
}

/* CSS for personal info container*/
.personal-info-box {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-top: 5px;
  justify-content: center;
}


/* CSS for personal info */
.personal-info {
  border: 1px solid;
  padding: 5px 10px 5px 2px;
}


/* CSS for goals container and info */
.manage-goals-box {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-top: 5px;
  justify-content: center;
}

.manage-goals {
  border: 1px solid;
  padding: 5px 10px 5px 2px;
}


/* CSS for recipes container and info*/
.manage-recipes-box {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-top: 5px;
  justify-content: center;
}

/* .manage-recipes {
  border: 1px solid;
  padding: 5px 10px 5px 2px;
} */

/* profile insertion styling  */
.profile-info {
  border-style: solid;
  width: 500px;
  text-align: center;
}

/* food category style  */
.type {
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  background-color: rgb(0, 85, 255);
  color: white;
}

/* food category box style  */
.categories {
  border: 1px solid;
  width: 140px;
  text-align: center;
  align-content: center;
}

/* recipe  */
.recipe-container {
  display: flex;
  justify-content: center;
}

.manage-goals div {
  width: 200px;
}

.favorite-food {
  border-style: solid;
  width: 300px;
  text-align: center;
  padding: 10px;
}

.all {
  border-style: solid;
  width: 300px;
  text-align: center;
  padding: 10px;
  align-items: flex-start;
  flex-wrap: center;
  justify-content: space-between;
}

.recipe-fave, .recipe-all-food {
  border-style: solid;
  width: 200px;
  text-align: center;
  padding: 10px;
}

.recipe-title, .recipe-edit-button {
  text-align: center;
  align-content: center;
}

footer {
  padding-top: 1rem;
  font-size: 70%;
  text-align: center;
  bottom: 0;
}

/* general styles for the breakfastPage */
/* styles for the container holding the header */
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/* styles for the header text */
.container h1 {
  font-size: 36px;
  margin: 0;
  color: #333;
}

.search{
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  font-size: 24px;
  display: flex;
  align-items: center;
}


.search-content{
  display: flex;
}

/* styles for the search bar image */
.search img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  justify-content: flex-start;
  right: 10px;
  pointer-events: none;
}

.search input[type="text"] {
  width: 100%;
  font-size: 24px;
  padding: 0px 0px 0px 3%;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 20px;
}


/* styles for the add button */
.add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

/* styles for the add button image */
.add img {
  width: 50px;
  height: 50px;
}

/* styles for the flex container holding food, ingredient, and nutrient divs */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 80%;
  border-radius: 20px;
  border: 2px solid #ccc;
}

/* styles for each food div */
.food {
  width: 100%;
  background-color: aquamarine;

  padding: 10px;
  margin: 10px;
  text-align: center;
}

/* styles for food div's h2 element */
.food h2 {
  margin: 0;
  font-size: 24px;
  color: #333;

}

/* styles for each ingredient and nutrient div */
.ingredient, .nutrient {
  width: calc(50% - 10px);
  background-color: aquamarine;
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin: 0 5px 10px 0;
  text-align: center;
}

/* styles for ingredient and nutrient div's h2 element */
.ingredient h2, .nutrient h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.addFood-container {
  display: flex;
  display: block;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-bottom: 5px;
}

.addFood-food,
.addFood-ingredient,
.addFood-nutrients {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 24px;
  display: flex;
}

.add-button {
  display: inline;
  background-color: #008CBA;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  font-size: 24px;
}

/* small to large screens - in that order
get the hamburger menu to work*/
@media (min-width: 576px) {
  nav {
    justify-content: center;
  }
  .daily_container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .daily_container {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  nav {
    justify-content: flex-start;
  }
  .daily_container {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* .recipe-all-food, .recipe-fave, .meal, .ingredients li, .recipe-all-food ul, .recipe-fave ul {
  background-color: rgb(0, 191, 255);
} */

.ingredients li{
  text-align: left;
}

.recipe-category {
  text-decoration: underline;
  display: flex;
  align-items: center;
}

address a{
color:#000;
}


.recipes-add-button {
  display: inline-flex;
  align-items: center;
  text-align: center;
}

.recipes-add-button img {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: self-end;
}


.header-checkbox {
  display: flex;
  border-style: solid;
  border-color: #000;
}

.header-checkbox input[type="checkbox"] {
  margin-right: 10px;
  align-items: top;
}

.recipes-delete-button {
  margin-left: 10px;
}

.firebaseui-idp-text {
  background-color: #000;
}

/* .mdl-textfield__input[type=number] {
  -moz-appearance: none;
} */